In [19]:
import numpy as np
import pandas as pd

pd.set_option('display.float_format', '{:.2f}'.format)

In [20]:
data = pd.read_stata(
    "../data/person_years.dta"
)

data.head()

,person,year,spending,inp,out,out_rand,mental,mdcl,drugs,supplies,...,rand_plan_group6,fam_size,position,first_month_site,contact_month_site,start_month,start_month_site,mde,coins,coins_dental
0,MA250247,1.00,14.35,0.00,14.35,14.35,0.00,14.35,14.35,0.00,...,0,4.00,3.00,181.00,173.00,181.00,181.00,1000.00,1.00,1.00
1,MA250247,2.00,115.15,0.00,115.15,115.15,0.00,115.15,24.65,0.00,...,0,4.00,1.00,181.00,173.00,193.00,193.00,1000.00,0.95,0.95
2,MA250247,4.00,110.00,0.00,110.00,0.00,0.00,0.00,0.00,0.00,...,0,4.00,4.00,181.00,173.00,217.00,217.00,1000.00,0.95,0.95
3,MA250255,2.00,75.00,0.00,75.00,0.00,0.00,0.00,0.00,0.00,...,0,4.00,2.00,181.00,173.00,193.00,193.00,1000.00,0.95,0.95
4,MA250255,3.00,15.00,0.00,15.00,15.00,0.00,15.00,0.00,0.00,...,0,4.00,4.00,181.00,173.00,205.00,205.00,1000.00,0.95,0.95

In [21]:
def group_plantypes(plan: int) -> int:
    """Group plans into four types:
        1-Free
        2-Individual Deductible
        3-Cost Sharing (25%/50%)
        4-Catostrophic (Fam Deductible) (95%/100%)

    Args:
        plan (int)

    Returns:
        int: Plantype
    """
    if plan == 24:
        return 1
    if plan in [1, 5]:
        return 2
    if plan in range(9, 24):
        return 3
    if plan in [*range(2,5), *range(6,9)]:
        return 4
    raise ValueError("Invalid input")

data['plantype'] = data['plan'].astype(int).apply(group_plantypes)

data

/tmp/ipykernel_2773388/441753252.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data['plantype'] = data['plan'].astype(int).apply(group_plantypes)

,person,year,spending,inp,out,out_rand,mental,mdcl,drugs,supplies,...,fam_size,position,first_month_site,contact_month_site,start_month,start_month_site,mde,coins,coins_dental,plantype
0,MA250247,1.00,14.35,0.00,14.35,14.35,0.00,14.35,14.35,0.00,...,4.00,3.00,181.00,173.00,181.00,181.00,1000.00,1.00,1.00,4
1,MA250247,2.00,115.15,0.00,115.15,115.15,0.00,115.15,24.65,0.00,...,4.00,1.00,181.00,173.00,193.00,193.00,1000.00,0.95,0.95,4
2,MA250247,4.00,110.00,0.00,110.00,0.00,0.00,0.00,0.00,0.00,...,4.00,4.00,181.00,173.00,217.00,217.00,1000.00,0.95,0.95,4
3,MA250255,2.00,75.00,0.00,75.00,0.00,0.00,0.00,0.00,0.00,...,4.00,2.00,181.00,173.00,193.00,193.00,1000.00,0.95,0.95,4
4,MA250255,3.00,15.00,0.00,15.00,15.00,0.00,15.00,0.00,0.00,...,4.00,4.00,181.00,173.00,205.00,205.00,1000.00,0.95,0.95,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20198,MH320080,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,6.00,1.00,1362.00,6000.00,251.00,1506.00,154.01,0.95,0.95,4
20199,MH320301,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,7.00,1.00,1374.00,6000.00,253.00,1518.00,0.00,0.00,0.00,1
20200,MH320458,5.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,7.00,1.00,1218.00,6000.00,251.00,1506.00,450.00,0.95,0.95,2
20201,MH320640,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,4.00,1.00,1374.00,6000.00,253.00,1518.00,524.70,0.25,0.50,3
20202,MH320738,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2.00,1.00,1362.00,6000.00,251.00,1506.00,0.00,0.00,0.00,1

In [22]:
data.groupby("plantype")['ftf'].describe().T

plantype       1       2       3       4
count    6840.00 4175.00 5464.00 3724.00
mean        4.45    2.98    3.27    2.78
std         7.41    5.66    5.71    5.50
min         0.00    0.00    0.00    0.00
25%         1.00    0.00    0.00    0.00
50%         2.00    1.00    2.00    1.00
75%         5.00    3.00    4.00    3.00
max       144.00   83.00   77.00  105.00